/** {
  box-sizing: border-box;
}*/

body, html {
    font-family: Helvetica;
    height: 100%;
    margin: 0;
}

/* Style the header */
.header-image {
    /* The image used */
    background-image: url("stopsign.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    font-size:150%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.main {
    background-color: white;
    margin: 100px 200px;
    vertical-align: middle;
    font-size: 18px;
}


div iframe {
    border: none;
    padding: 0 10px;
    width: 540px;
    height: 360px;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

